.inicio{
    width: 80%;
    margin: 0 auto;
    display: flex;
    transition: 0.2s all ease;
}

.inicio main{
    max-height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s all ease;
}

.inicio main .itens{
    width: 50%;
    overflow: auto;
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.5);
    
    display: flex;
    justify-content: center;
    
    margin-top: 1.666667%; /* 20px/1200px */
}

.inicio main .itens ul{
    width: 100%;
    padding: 10px;
}

.inicio main .itens ul div{
    display: flex;
}

.inicio main .itens ul div > li{
    flex: 1;
}

::-webkit-scrollbar {
    width: 0px;
}


@media screen and (max-width: 600px){

    .inicio{
        width: 90%;
        flex-direction: column;
        height: 100vh;
    }

    .inicio main{
        height: 100%;
    }

    .inicio main .itens ul div{
       flex-direction: column;
    }
}