.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 20%;
    transition: 0.2s all ease;
}

.header .opcoes{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media screen and (max-width: 600px){
    .header{
        align-items: center;
        min-height: 0vh;
        width: 100%;
        padding: 10px 0px;
    }
}